
.search-box input{
    margin-left: 25px;
    width: 55%;
    height: 50px;
    margin-right: 20px;
    background-color: transparent;
    border-radius: 4px;
    
    
}
.date{
    border: 1px solid rgb(61, 61, 61);
    background-color: transparent;
    border-radius: 4px;
    
    /* border: 1px solid #ccc; */
}
.search-box{
    
    padding: 20px;
    border-radius: 5px;
    
}